/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

body {
    margin: 0;
    padding: 0;
    /* background: linear-gradient(150deg, #f7d5dc 0%, #4b2c35 0%, #000000 100%);  dark themed mulberry and black*/
    /* background: linear-gradient(135deg, #ff9a9e 0%, #fad0c4 100%); */
    /* pinkish */
    /* background: linear-gradient(135deg, #0f2027, #203a43, #2c5364); */
    /* background: linear-gradient(135deg, #2c5364 0%, #203a43 10%, #071217 100%); */

    /* background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); */

    color: rgb(255, 255, 255);
    min-height: 100vh;
    /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
}